*.log
*.pyc
i3/.Xdefaults
i3/.Xresources
i3/.config/dunst/dunstrc
i3/.config/dunst/dunstrc
i3/.config/i3/config
i3/.config/i3/py3status/config
i3/.config/rofi/config-right-menu.rasi
i3/.config/rofi/wal-custom-theme.rasi
shell/.zsh/cache/
systemd/.config/systemd/user/*.target.wants/
