configuration {
    icon-theme: "Adwaita";
    show-icons: true;
}


* {
    active-background: #0d6678;
    selected-normal-background: #0d6678;
    urgent-background: #fb543f;
    selected-urgent-background: #fb543f;
}

@theme "~/.config/rofi/wal-custom-theme.rasi"
