#define GTK_THEME_BACKGROUND #222d32

#define CAT(a,b) a##b
#define XCAT(a,b) CAT(a,b)
#define __accent 1

#include "./.cache/wal/colors.h"

#define __accent_color XCAT(__color, __accent)

Xft.dpi: 96

! special
!
i3wm*background:    GTK_THEME_BACKGROUND
i3wm*accent:        __accent_color
URxvt*foreground:   #c5c8c6
URxvt*background:   #1d1f21
URxvt*cursorColor:  #c5c8c6

! black
! URxvt*color0:       GTK_THEME_BACKGROUND
! URxvt*color8:       #373b41
*color0:       GTK_THEME_BACKGROUND
*color8:       #373b41

! red
! URxvt*color1:       #a54242
! URxvt*color9:       #cc6666
*color1:       #a54242
*color9:       #cc6666

! green
! URxvt*color2:       #88bb88
! URxvt*color10:      #99cc99
*color2:       #88bb88
*color10:      #99cc99

! yellow
! URxvt*color3:       #de935f
! URxvt*color11:      #f0c674
*color3:       #de935f
*color11:      #f0c674

! blue
! URxvt*color4:       #3f617d
! URxvt*color12:      #61829e
*color4:       #3f617d
*color12:      #61829e

! magenta
! URxvt*color5:       #85678f
! URxvt*color13:      #b294bb
*color5:       #85678f
*color13:      #b294bb

! cyan
! URxvt*color6:       #5e8d87
! URxvt*color14:      #8abeb7
*color6:       #5e8d87
*color14:      #8abeb7

! white
! URxvt*color7:       #707880
! URxvt*color15:      #c5c8c6
*color7:       #707880
*color15:      #c5c8c6

#include "./.cache/wal/colors.Xresources"
! Override black
URxvt*color0:       GTK_THEME_BACKGROUND

! urxvt settings
!
! URxvt*fontAlt: xft:Ubuntu Mono:pixelsize=13:antialias=false:hinting=true
URxvt*fontAlt: xft:DejaVu Sans Mono-7:antialias=true:hinting=true
URxvt*font: xft:DejaVu Sans Mono-7:antialias=true:hinting=true
URxvt.bell-command: notify-send -u low -t 200 "URXVT !"

URxvt*cursorBlink                      : true
URxvt*inheritPixmap                    : true
URxvt*iso14755                         : false
URxvt*iso14755_52                      : false
URxvt*keysym.Control-Shift-Down        : perl:tabbedex:new_tab
URxvt*keysym.Control-Shift-Left        : perl:tabbedex:prev_tab
URxvt*keysym.Control-Shift-Right       : perl:tabbedex:next_tab
URxvt*keysym.Control-t                 : perl:tabbedex:new_tab
URxvt*keysym.M-C-v                     : perl:clipboard:paste_escaped
URxvt*keysym.M-c                       : perl:clipboard:copy
URxvt*keysym.M-v                       : perl:clipboard:paste
URxvt*perl-ext-common                  : default,matcher,tabbedex,clipboard,font-size,bell-command

URxvt*keysym.Shift-Up:   perl:font-size:increase
URxvt*keysym.Shift-Down: perl:font-size:decrease


URxvt*print-pipe                       : cat > $(TMPDIR=$HOME mktemp URxvt.XXXXX)
URxvt*reverseVideo                     : false
URxvt*saveLines                        : 10000
URxvt*scrollBar                        : false


URxvt*tabbed.autohide                  : true
URxvt*tabbed.no-tabbedex-keys          : true
URxvt*tabbed.tab-bg                    : __accent
URxvt*tabbed.tab-fg                    : 0
URxvt*tabbed.title-fg                  : __accent
URxvt*tabbed.tabbar-bg                 : 0
URxvt*tabbed.tabbar-fg                 : __accent
URxvt*tabbed.active-fg: 1
URxvt*tabbed.actives-fg: 5
URxvt*tabbed.actived-fg: 4
URxvt*tintColor                        : grey40
URxvt*transpartent:                    : true
URxvt*shading                          : 70

*keysym.M-Down            : \033[1;3B
*keysym.M-Up              : \033[1;3A
*keysym.M-Left            : \033[1;3D
*keysym.M-Right           : \033[1;3C

! Vim
Vim*useSchemes            : all
Vim*sgiMode               : true
Vim*foreground            : lightyellow2
Vim*background            : Black
Vim*useEnhancedFSB        : true
Vim*geometry              : 88x40

*sessionMgt               : false
