[Unit]
Description=flameshot notification daemon
Documentation=man:flameshot
PartOf=graphical-session.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/flameshot
