[Unit]
Description=flameshot notification daemon
Documentation=man:flameshot

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/flameshot

[Install]
WantedBy=user-session.target