[Unit]
Description=Mopidy daemon
Documentation=man:mopidy
PartOf=user-session-once.target

[Service]
Type=simple
Restart=always
ExecStart=%h/.virtualenvs/mopidy/bin/mopidy -q

[Install]
WantedBy=user-session-once.target
