[Unit]
Description=set wallpaper using nitrogen
Documentation=man:nitrogen
PartOf=user-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/nitrogen --restore

[Install]
WantedBy=user-session.target
