[Unit]
Description=compton compositing daemon
Documentation=man:compton
PartOf=user-session.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/compton --experimental-backends --backend glx

[Install]
WantedBy=user-session.target
