[Unit]
Description=pasystray notification daemon
Documentation=man:pasystray

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/pasystray

[Install]
WantedBy=user-session.target
