[Unit]
Description=Mopidy daemon
Documentation=man:mopidy
PartOf=graphical-session.target

[Service]
Type=simple
Restart=always
ExecStart=/bin/sh -c '. ~/.virtualenvs/mopidy/bin/activate && exec mopidy'
