[Unit]
Description=Detect screen layout

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/autorandr -c -f
ExecStop=/usr/bin/autorandr single

[Install]
WantedBy=user-session.target
