[Unit]
Description=xautolock daemon
Documentation=man:xautolock
PartOf=user-session-once.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/xautolock -detectsleep

[Install]
WantedBy=user-session-once.target
