[Unit]
Description=Mopidy daemon
Documentation=man:mopidy
PartOf=user-session-once.target

[Service]
Type=simple
Restart=always
ExecStart=/bin/sh -c '. ~/.virtualenvs/mopidy/bin/activate && exec mopidy'

[Install]
WantedBy=user-session-once.target
