[Unit]
Description=Detect screen layout

[Service]
ExecStart=/bin/sh -c "autorandr single; autorandr -c"
ExecStop=/bin/sh -c "autorandr single; autorandr -c"

[Install]
WantedBy=user-session.target
