#!/bin/bash
#
# vim:ft=bash:
# shellcheck disable=SC2039
#

addpath() {
    local _prepend cur_path
    _prepend=0
    case "${1}" in
        "--prepend")
            _prepend=1
            shift
            ;;
    esac
    cur_path="${1}"
    if [[ -d "$cur_path" ]] && [[ ":$PATH:" != *":$cur_path:"* ]]; then
        if [[ "$_prepend" -eq 0 ]]; then
            PATH="$PATH:$cur_path"
        else
            PATH="$cur_path:$PATH"
        fi
    fi
}

addpath ~/.bin
addpath ~/.local/bin
addpath /sbin
addpath /usr/sbin
