#!/bin/bash
# Load virtualenv if installed
#
# shellcheck disable=SC1090,SC2039
# vim:ft=bash:
#

for i in /usr/bin/virtualenvwrapper.sh \
    /usr/share/virtualenvwrapper/virtualenvwrapper.sh; do

    if [ -f "${i}" ]; then
        source "${i}"
        break
    fi
done

