#!/bin/bash
# History is in ~/.history
#
# shellcheck disable=SC2039
# vim:ft=bash:
#

export RLWRAP_HOME=~/.history
export SQLITE_HISTORY=${RLWRAP_HOME}/sqlite

function __dot_is_installed() {
	which "$1" >/dev/null 2>/dev/null
}

# FZF
if __dot_is_installed fd; then
    export FZF_DEFAULT_COMMAND="fd --type f --hidden --follow --exclude .git"
else
	export FZF_DEFAULT_COMMAND="find -type f -not -path '*/\.git/*' -a -not -path '*/\.svn/*"
fi

__dot_is_installed nvimpager && export PAGER=nvimpager

# GTK FTW !
export OOO_FORCE_DESKTOP=gnome
# XFT my friend
export QT_XFT=1
export GDK_USE_XFT=1
# Use qt5ct backend
export QT_QPA_PLATFORMTHEME=qt5ct
# We always want to use ssh for rsync.
export RSYNC_RSH=ssh
# And for cvs as well.
export CVS_RSH=ssh

# Programming and C manuals first
export MANSECT="3:1:5:2:4:8:9:7:6"

# vagrant: use libvirt by default
export VAGRANT_DEFAULT_PROVIDER=libvirt
