# Some usefull aliases ######################################################
# vi: ft=zsh
#

__alias() {
	if [ -n "$ZSH_VERSION" ] && type zstyle >/dev/null 2>&1; then
		alias -g "$@"
	elif [ -x "$BASH" ] && shopt -q >/dev/null 2>&1; then
		alias "$@"
	fi
}

if __dot_is_installed nvim; then
    export EDITOR=nvim
    __alias vi='nvim'
    __alias vim='nvim'
elif __dot_is_installed vim; then
    export EDITOR=vim
    __alias vi='vim'
fi

# ack is ack-grep on debian/ubuntu
if __dot_is_installed ack-grep; then
    __alias ack='ack-grep'
fi

# Goodbye more, lets play with most
#
if __dot_is_installed most; then
	__alias more='most'
	__alias less='most'
	export PAGER='most'
fi

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
	eval "$(dircolors -b ~/.dir_colors)"
fi

# some more ls aliases


# no spelling correction on mv/cp/mkdir
__alias mv='nocorrect mv'
__alias cp='nocorrect cp'
__alias mkdir='nocorrect mkdir'

__alias cp='cp -i'
__alias mv='mv -i'
__alias mkdir='mkdir -p'
__alias :wq='exit'
__alias ..='cd ..'
__alias cd..="cd .."
__alias du='du -kh'
__alias hgrep='history | grep'
__alias grep='grep --color=auto'
__alias fgrep='fgrep --color=auto'
__alias egrep='egrep --color=auto'
__alias ncl='nc 127.0.0.1'
__alias clean='rm -f *~ *# *.aux *.blg *.log'
__alias quickweb='python -m SimpleHTTPServer'
__alias rdesktop="rdesktop -r sound:local -r disk:linux=/ -r disk:home=$HOME -x l -K -f -P -a 24"


# The 'ls' family (this assumes you use the GNU ls) ##########################
__alias ll='ls --color -lh'
__alias la='ls --color -Al'         # show hidden files
__alias lc='ls --color -lcr'        # sort by change time
__alias lk='ls --color -lSr'        # sort by size
__alias lm='ls --color -al | more'  # pipe through 'more'
__alias lr='ls --color -lR'         # recursive ls --color
__alias ls='ls --color -hF'         # add colors for filetype recognition
__alias lt='ls --color -ltr'        # sort by date
__alias lu='ls --color -lur'        # sort by access time
__alias lx='ls --color -lXB'        # sort by extension

# spelling typos - highly personnal :-) ######################################
#
__alias xs='cd'
__alias vf='cd'
__alias moer='more'
__alias moew='more'
__alias kk='ll'
__alias ks='ls'

