#!/bin/bash
# Use autojump if installed
#
# shellcheck disable=SC1090,SC1091
# vim:ft=bash:
#

if [[ -s ~/.autojump/etc/profile.d/autojump.sh ]]; then
    source ~/.autojump/etc/profile.d/autojump.sh
elif [[ -s /etc/profile.d/autojump.sh ]]; then
    source /etc/profile.d/autojump.sh
fi

if __dot_is_installed fzf; then
    fzf=fzf
    __dot_is_installed fzf-tmux && test -n "$TMUX" && fzf="fzf-tmux"

    j() {
        if [[ "$#" -ne 0 ]]; then
            cd "$(autojump "$@")" || return 1
            return
        fi
        cd "$(autojump -s | sort -k1gr | awk '$1 ~ /[0-9]:/ && $2 ~ /^\// { for (i=2; i<=NF; i++) { print $(i) } }' | $fzf --height 0% --preview 'tree -C {} | head -200' --reverse --inline-info)" || return 1
    }
fi
