# Load virtualenv if installed
# vim:ft=sh:
for i in /usr/bin/virtualenvwrapper.sh \
    /usr/share/virtualenvwrapper/virtualenvwrapper.sh; do

    if [ -f "${i}" ]; then
        source "${i}"
        break
    fi
done

