Abiword= 
libreoffice= 
desktopeditors=
burp-StartBurp= 
Arandr= 
cura= 
Evince= 
Evolution= 
Firefox= 
Firefart= 
gimp= 
Hopper= 
Cutter= 
Inkscape= 
Keepassx2= 
Keepassxc= 
krita= 
Minecraft 1.11.2= 
Nautilus= 
pcmanfm= 
Thunar= 
Navigator=
net-minecraft-bootstrap-Bootstrap= 
OpenSCAD= 
Pavucontrol= 
sun-awt-X11-XFramePeer= 
QtCreator= 
Designer-qt4= 
quassel= 
Slic3r= 
Subl3= 
processing-app-Base= 
VirtualBox Machine= 
VirtualBox= 
vlc= 
pantheon-music= 
Lxappearance= 
Wireshark-gtk= 
Xfce4-terminal=
URxvt=
XTerm= 
kitty= 
Termite= 
Zim= 
wireshark-gtk= 
Gitk=
rhythmbox= 
Seahorse= 
evience= 
kicad= 
VirtualBox Manager= 
Virt-manager= 
Virt-viewer= 
Nm-connection-editor= 
Chromium= 
simple-scan= 
MellowPlayer= 
Brasero= 
LibreCAD= 
JDownloader= 
jetbrains-pycharm=
TeXstudio=
Thunderbird=
Riot=
TelegramDesktop=
Blueman-manager=
Steam=
Atom=
Rocket.Chat=
Gajim=
libreoffice-calc=
libreoffice-writer=
Zotero=
Gimp=
code-oss=
factorio=
Mysql-workbench-bin=
Google-chrome=
GitKraken=
Audacity=
Code=
Code - Insiders=
firefoxdeveloperedition=
Mumble=
